@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$blue_color: #105E74;
$blue_light: #96C6C5;
$primary_dark: #EDEDED;
$primary_color: #F5F5F5;
$primary-light: #FFFFFF;
$secondary_color: #0F0F0F;
$secondary-light: #4D4C4C;
$accent_color:#F1A61C;
$accent-light:#FAC86D;
$accent-dark:#E90909;