@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  max-width: 1400px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: auto;
}
nav .top {
  width: 100%;
  height: 40px;
  padding: 0 5%;
  background: #105E74;
}
nav .top .contacts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 12px;
}
nav .top .contacts .delivery {
  position: relative;
  z-index: 1;
}
nav .top .contacts .delivery p {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
nav .top .contacts .delivery img {
  width: 17px;
  height: 10px;
}
nav .top .contacts .delivery .menu {
  display: none;
  position: absolute;
  top: 130%;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
nav .top .contacts .delivery .menu ul {
  list-style: none;
}
nav .top .contacts .delivery .menu ul li {
  color: #0F0F0F;
  padding: 10px 20px;
  border-bottom: 1px solid #4D4C4C;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;
}
nav .top .contacts .delivery .menu ul li:hover {
  background-color: #EDEDED;
}
nav .top .contacts .delivery:hover .menu {
  display: block;
}
nav .top .contacts .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
nav .top .contacts .contact p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}
nav .bottom {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
nav .bottom .logo {
  display: block;
  margin-left: 90px;
  width: 10%;
}
nav .bottom ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .bottom ul li {
  padding-right: 30px;
}
nav .bottom ul li a {
  text-decoration: none;
}
nav .bottom .nav_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
nav .bottom .nav_icons img {
  padding-right: 10px;
}

.card {
  width: 250px;
  height: 380px;
  margin: 10px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
}
.card .img {
  width: 100%;
  height: 210px;
}
.card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .text {
  margin-top: 15px;
  height: 50px;
  padding: 0 15px;
}
.card .text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
.card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
  padding: 0 15px;
}
.card .bottom .old_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #4D4C4C;
}
.card .bottom .price {
  margin-top: 15px;
}
.card .bottom .price p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #E90909;
}
.card .bottom .size p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #4d4c4c;
}
.card .bottom .add_sebet {
  width: 130px;
  height: 35px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}
.card .bottom .add_sebet button {
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background: #F1A61C;
  padding-right: 25px;
  border: none;
  cursor: pointer;
}
.card .bottom .add_sebet .btns {
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
}
.card .bottom .added_sebet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .new {
  position: absolute;
  width: 70px;
  height: 40px;
  left: 200px;
  top: 2px;
  background: #0f0f0f;
  border-radius: 0px 0px 0px 20px;
}
.card .new p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 5px;
  color: white;
}

.footer {
  width: 100%;
  height: 220px;
  background-color: #105E74;
  position: relative;
}
.footer footer {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer footer .img1 {
  width: 133.34px;
  height: 151.08px;
  position: absolute;
  bottom: 5px;
  left: 90px;
}
.footer footer .text_adress {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer footer .text_adress svg {
  margin-top: 10px;
}
.footer footer .text_adress div {
  margin-left: 10px;
}
.footer footer .text_adress div p {
  margin-top: 10px;
  color: #FFFFFF;
  line-height: 30px;
}
.footer footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer footer .text_contact .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer footer .text_contact .contact p {
  color: #FFFFFF;
  line-height: 30px;
  margin-left: 5px;
}
.footer footer .img2 {
  position: absolute;
  right: 90px;
  top: 5px;
}

.home {
  width: 100%;
  height: auto;
}
.home .hooper {
  width: 100%;
  height: 80vh;
  position: relative;
}
.home .hooper img {
  position: absolute;
  z-index: 99;
  width: 262.53px;
  height: 262.53px;
  top: 0;
}
.home .hooper .slider1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./../images/1.svg") no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.home .hooper .slider2 {
  width: 100%;
  height: 100%;
  background: url("./../images/Baner.svg") no-repeat;
  background-size: cover;
}
.home .hooper .slider3 {
  width: 100%;
  height: 100%;
  background: url("./../images/5.svg") no-repeat;
  background-size: cover;
}
.home .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.home .cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main_page {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_page .man {
  margin-right: 100px;
  position: relative;
  background: url("../images//bart.svg") no-repeat;
  overflow: hidden;
}
.main_page .man .one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}
.main_page .man .hidden {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s ease-in-out;
}
.main_page .man:hover .one {
  top: 10%;
  left: 50%;
  transform: translate(-10%, -50%);
}
.main_page .man:hover .hidden {
  background-color: red;
  top: 30%;
}
.main_page .man:hover .hidden p {
  display: block;
}/*# sourceMappingURL=main.css.map */